/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.wrapper {
  display: flex;
  justify-content: center;
}

.inputAndCreateButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: -0.5rem;
}

.buttonContainer {
  margin-left: 1rem;
}
